[2021-04-23 02:50] IndexXuan opened #1 "Vue 2 support ?"
Great Works.
It seems use vue-tsc or tsc, does these work for vite + vue2 ?

[2021-04-23 03:35] fi3ework commented on #1
@IndexXuan Not so familiar with Vue, could you tell me is there any `vue-tsc` liked library for vue2?

[2021-04-23 04:27] IndexXuan commented on #1
maybe fork-ts-checker-webpack plugin
vti

[2021-04-23 04:34] fi3ework commented on #1
Thanks for the pointing out. I'll take a look.

[2021-05-28 16:46] fi3ework commented on #1
I'm trying to implement this based on Vetur language server.

[2021-05-28 23:08] IndexXuan commented on #1
thanks a lot.

[2021-05-29 03:15] IndexXuan commented on #1
It seems that vetur's vti not support vue slot type check and will be deprecated and replaced by volar(vue-tsc), maybe fork-ts-type-checker is better for Vue2.x ?
https://github.com/TypeStrong/fork-ts-checker-webpack-plugin

[2021-05-29 10:28] fi3ework commented on #1
Thanks @IndexXuan. I'm not going to implement the type checking like fork-ts-typecheck by myself (for now), because:
1. Vetur / Volar has done great battle-tested work for type checking. I can assume developers will use Vetur or Volar when they write code. So I think it's better to build the library upon Vetur and Volar's opened language server to make it easier to be used.
2. fork-ts-checker-webp

[2021-05-29 10:32] IndexXuan commented on #1
I think you are right. and volar for Vue2.x I have a try, not very well(great for Vue3.x).
I think 2.x will exist long term, this feature will be very useful.

[2021-06-11 20:32] Djaler commented on #1
Hello. vue-tsc works good for Vue 2

[2021-06-11 20:35] IndexXuan commented on #1
@Djaler I dont think so. at least my Vue2.6 + composition-api project not good. do you have demo Vue2.x project so I can test and try. bro.

[2021-06-11 20:40] Djaler commented on #1
I have no demo, but I use vue 2.6 with composition api on my work project and vue-tsc typechecking works for me. What doesn't work for you?

[2021-06-11 20:44] IndexXuan commented on #1
I will check it later. I now use vetur in IDE and vti in CI. vue-tsc give some strange errors before. thanks for you reminder.

[2021-06-14 09:18] fi3ework commented on #1
Vetur / VLS have been supported. Check the new README and have a try (renamed the package 😅).

[2021-06-14 09:20] IndexXuan commented on #1
you are my hero. will try it.

[2021-06-17 02:42] IndexXuan commented on #1
Back from vacation. will test it NOW and give feedback ASAP.

[2021-06-17 03:54] IndexXuan commented on #1
It's perfect. Thank you very much.
I was warried about `v-slot="{ props }"` type check, it is(typed slot) not supported in Vue 2, this plugin ignore it too, and catch up all supported feature with Vue2 + vetur. Thanks a lot.

[2021-06-17 03:54] #1 closed

[2021-06-17 07:19] IndexXuan commented on #1
errors overlay only show once, is it by design ? whilte the error message showup in browser console every time.
I can accept it and you can track it if necessary.

[2021-06-17 07:23] fi3ework commented on #1
@IndexXuan  What does `errors overlay only show once` mean, the overlay should try to show up if there's an error after watched file changed 🤔

[2021-06-17 07:27] IndexXuan commented on #1
![image](https://user-images.githubusercontent.com/6322673/122350693-074a3780-cf80-11eb-82f3-84dc69e179f9.png)
HelloWorld.vue with props msg which type is `string | undefined` and src/views/home.vue import HelloWorld component and give `:msg="1"` which is number. the errors show `cannot assign number to string | undefined` only show once and after browser refresh, it is disappear and never showup.

[2021-06-17 07:33] IndexXuan commented on #1
我个人还好，据同事们体验，点击遮罩外侧或者刷新，错误就没了，还是有点突然或者会忘记处理，能 cache 住么 ...

[2021-06-17 07:38] fi3ework commented on #1
@IndexXuan I also encountered this scenario while developing this plugin. 😅 I guess this might be a Vite related problem, the HMR sever (plugin checker server) didn't resend the error after refresh. I'm not sure whether we can detect a browser refresh action by Vite plugin system. I'll check it later.

[2021-06-17 08:32] fi3ework opened #6 "VLS checker did not watch JS/TS file change"
client side should implement `this.lspConnection.onDidChangeWatchedFiles` like vscode client does.

[2021-06-17 10:12] IndexXuan commented on #1
I wrong, too much v-slot errors in real-world project. I raise issue on vetur.

[2021-06-18 06:56] IndexXuan opened #7 "userConfig: { overlay: false } not working."
https://github.com/fi3ework/vite-plugin-checker/blob/1334c1817b9e8a61ef8dd90bddbc052294ba7dd3/packages/checker-vls/src/main.ts#L14

It seems that overlay is assigned by never use. Am I wrong ?

[2021-06-18 07:00] IndexXuan commented on #7
https://github.com/fi3ework/vite-plugin-checker/pull/8

[2021-06-18 07:01] IndexXuan commented on #7
![image](https://user-images.githubusercontent.com/6322673/122520275-fa901700-d045-11eb-8172-4dca910dcaee.png)
also, should the error message end with `\n` so that the codeframe works well. line 2 was at the end of the last line right now.

[2021-06-18 09:11] IndexXuan commented on #1
https://github.com/IndexXuan/vue-cli-plugin-vite/releases/tag/v1.2.2

[2021-06-18 09:20] fi3ework commented on #7
released vite-plugin-checker-vls@0.1.1  https://www.npmjs.com/package/vite-plugin-checker-vls

[2021-06-18 09:20] #7 closed

[2021-06-18 09:21] fi3ework opened #9 "vls checker console format error"
![image](https://user-images.githubusercontent.com/6322673/122520275-fa901700-d045-11eb-8172-4dca910dcaee.png)
also, should the error message end with `\n` so that the codeframe works well. line 2 was at the end of the last line right now.

_Originally posted by @IndexXuan in https://github.com/fi3ework/vite-plugin-checker/issues/7#issuecomment-863807623_

[2021-06-20 15:33] IndexXuan commented on #1
@Djaler How can you use vue-tsc/volar with Vue 2. for me, there are too much errors.
for example, v-model in Vue 2 means props.value + emit input and in Vue 3 means modelValue + update:modelValue, how volar handle this ?

just the repro demo [here](https://github.com/IndexXuan/vue2-volar-test-app/blob/master/src/views/Home.vue#L9). if you have v-model and props: { value: {type: String, required: t

[2021-06-20 15:44] IndexXuan commented on #1
ref: https://github.com/johnsoncodehk/volar/issues/273

[2021-06-20 16:13] Djaler commented on #1
I checked your example. Looks like volar have problems with `required: true` for `value` prop. I just have defaults in all such cases (for `v-model`). I think you should create an issue to Volar.

For the second question: yeah, by now vite-plugin-checker will not work with vue-tsc in dev mode

[2021-06-20 16:15] IndexXuan commented on #1
@Djaler thanks a lot. I created issue to valor, the author said I should use vetur/vls/vti .

[2021-06-20 16:25] Djaler commented on #1
I tried to use `vti` in my project and have a bunch of strange errors. Maybe I need to try again

[2021-06-20 16:27] IndexXuan commented on #1
@Djaler me too. I am evan wrap VTI and ignore some strange errors.(sth like interface name not found?)

[2021-06-24 17:26] bbugh opened #16 "vite build hangs forever"
After adding Checker, my `vite build` began to hang forever. I tried multiple different options `typescript: true`, `vueTsc: true` (with the package installed), etc.

The build runs fine, but when it is complete, it sits forever. CI deploy waited for ~15 minutes before timing out.

Here is an example repo with a tag at the commit where it broke:

https://github.com/bbugh/vue-tsx-tailwind-starter/r

[2021-06-24 17:33] bbugh commented on #16
I'm not sure what the relation to https://github.com/yuxino/vite-plugin-ts-checker is, but using that plugin works.

[2021-06-24 18:24] fi3ework commented on #16
Hi @bbugh! The forever hang problem is known and I'm trying to fix it. And it has almost done.

https://www.npmjs.com/package/vite-plugin-ts-checker is the predecessor of `vite-plugin-checker`. I renamed the package as it may work with different checkers. You can use `vite-plugin-ts-checker` for now. I'll fix the bug and release a version ASAP and let you know. We can leave this issue open.

[2021-06-24 19:01] fi3ework commented on #9
hmmm, still an open issue of log-update https://github.com/sindresorhus/log-update/issues/49

[2021-06-25 03:32] IndexXuan commented on #9
thanks very much.
also can we not log this information ?
![image](https://user-images.githubusercontent.com/6322673/123365513-f8c7d580-d5a8-11eb-8c89-9f4b49da42a2.png)

[2021-06-25 03:33] IndexXuan commented on #16
Yes, only use it in development mode right now.

[2021-06-25 03:54] fi3ework commented on #9
Yes, I think this should be eliminated and only display when enabling a `verbose` or `debug` config. I'll take a look into VLS.

[2021-07-01 18:42] fi3ework opened #24 "VLS not works on Windows"
I'll fix this after I borrow a Windows machine. 😅
I should have fixed this even without a Windows machine. But I failed. Maybe I'll think it over later ☹️

https://github.com/fi3ework/vite-plugin-checker/blob/93a36e7942f74f08f6f50849d10deca5bd5f0669/playground/vue2-vls/__tests__/test.spec.ts#L50

[2021-07-05 16:29] fi3ework commented on #16
fixed in 0.2.0

[2021-07-05 16:29] #16 closed

[2021-07-05 16:29] fi3ework commented on #9
fixed in 0.2.0

[2021-07-05 16:29] #9 closed

[2021-07-06 06:28] IndexXuan commented on #9
![image](https://user-images.githubusercontent.com/6322673/124552490-34df1e00-de66-11eb-9e4d-9586220cc772.png)

The log looks pretty now with new colors.

It seems that the `2 |   <div class="home">` is still in the wrong place(not in the next line). doesn't it ?

[2021-07-06 06:42] fi3ework commented on #9
@IndexXuan Good catch, just released vite-plugin-checker-vl@0.2.1 and it's fixed. Thanks.

![image](https://user-images.githubusercontent.com/12322740/124554229-517c5580-de68-11eb-8176-caa85cbbf9b5.png)

[2021-07-06 06:45] IndexXuan commented on #9
@fi3ework
You are lighting fast than vite HMR.

[2021-07-06 21:39] fgblomqvist opened #29 "ESLint support"
Any plans on ESlint support?

[2021-07-07 03:04] fi3ework commented on #29
Yes, it's scheduled but not in high priority. Because we always can get the prompt from IDE for the current editing file (not like ts / vls / vue-tsc). I'll try to implement this month.

[2021-07-07 03:27] fi3ework opened #30 "Show prompt in browser console"
LGTM

[2021-07-07 06:32] fi3ework opened #31 "Milestone 0.3"
See #35

[2021-07-17 13:32] fi3ework commented on #24
The E2E still randomly failed but it works on works.

[2021-07-17 13:32] #24 closed

[2021-07-17 13:32] fi3ework commented on #29
supported in 0.3

[2021-07-17 13:32] #29 closed

[2021-07-17 13:33] fi3ework commented on #31
Done

[2021-07-17 13:33] #31 closed

[2021-07-18 05:23] Gustorn opened #38 "The checker does not wait for all child processes to finish in build mode"
When running with multiple checkers in build mode, the parent process exits as soon as one of the checkers fails. Unfortuntately, all the remaning child processes keep running and print their output to the console even after the parent process closes. I think it should wait for all the checkers to complete, print their results and exit with a non-zero status code in case of errors.

[2021-07-18 08:46] #38 closed

[2021-07-18 11:28] Gustorn opened #40 "Custom tsconfig.json is not respected in build mode"
When using `vite build`, the TS checker uses the default `tsconfig.json` which leads to incorrect error reporting. I noticed it when building an Electron project with separate `tsconfig.json` files for the main and renderer and the custom `include/files/exclude` configuration was ignored when specifying the tsconfig file.

[2021-07-19 03:15] #40 closed

[2021-07-19 04:54] zlyyyy opened #42 "mac os Error: Cannot find module 'fs/promises'"
mac os Error: Cannot find module 'fs/promises'

[2021-07-19 05:07] fi3ework commented on #42
what is your node version

[2021-07-19 05:11] zlyyyy commented on #42
v12.16.1

[2021-07-19 05:15] zlyyyy commented on #42
#43 This can be repaired

[2021-07-19 05:53] fi3ework commented on #42
closed by #43

[2021-07-19 05:53] #42 closed

[2021-07-21 21:25] fgblomqvist opened #46 "README is incorrect on ESLint configuration"
It does
[code]
for the first ESLint config, however, it needs to be an array. Should probably be changed to:
[code]

[2021-07-21 22:11] fgblomqvist opened #47 "Exception when running dev"
[code]
Let me know what kind of information would be helpful here.

[2021-07-22 03:09] fi3ework commented on #46
Thanks. Docs fixed in https://github.com/fi3ework/vite-plugin-checker/commit/1403f6fe9bc66486e3dff5597f8927c28ff2dfe9

[2021-07-22 03:09] #46 closed

[2021-07-22 03:12] fi3ework commented on #47
Could you run this command in your project and give me some basic information for debugging

[code]

[2021-07-22 13:58] fgblomqvist commented on #47
[code]

[2021-07-22 14:16] fgblomqvist commented on #47
Did some googling and someone said to delete the node_modules folder. Tried that + npm install and now the plugin works 🤷

[2021-07-22 14:16] #47 closed

[2021-07-22 14:28] fgblomqvist opened #48 "ESLint output is always about the first error found"
Seems like this code incorrectly only looks at the `firstMessage` rather than the current one in the iteration (`d`):
https://github.com/fi3ework/vite-plugin-checker/blob/1403f6fe9bc66486e3dff5597f8927c28ff2dfe9/packages/vite-plugin-checker/src/logger.ts#L269-L310

[2021-07-22 14:42] fi3ework commented on #48
you mean on the overlay or in terminal console or both? 🤔 overlay is not designed for show multiple errors so plugin show the first issue for now. But terminal should show all issue.

[2021-07-22 14:43] fgblomqvist commented on #48
It's in the console. The overlay "correctly" shows just the first issue.

[2021-07-22 15:09] fgblomqvist commented on #48
To clarify, the code above should look like this:
[code]
The way it is right now, for each file, it will output the same message X times (where X is the number of lint errors/warnings in that file). I made the above modification myself and verified that it works correctly after that. I can submit a PR if you want.

[2021-07-22 15:24] fgblomqvist opened #50 "Warning level gets logged as Error"
There is an error in the code here:
https://github.com/fi3ework/vite-plugin-checker/blob/main/packages/vite-plugin-checker/src/logger.ts#L68

That causes all warnings to get logged as errors. Warning is enum value 0, which is falsey, and therefore it gets changed to error.

[2021-07-22 17:24] #50 closed

[2021-07-22 18:32] fi3ework commented on #48
closed in #49 and #52 by @fgblomqvist

[2021-07-22 18:32] #48 closed

[2021-07-23 12:40] fgblomqvist opened #53 "Release 0.3.3"
Would it be possible to release a new version with the ESLint fixes? 🙂

[2021-07-23 12:56] fi3ework commented on #53
I am AFK for now. I will release once I come back to computer ASAP (about 4 hours later 😅).

[2021-07-23 12:56] fi3ework commented on #53
Maybe we should introduce semantic release 🤔

[2021-07-23 13:09] fgblomqvist commented on #53
Thanks, and yeah, might be cool 🙃

[2021-07-23 16:23] fi3ework commented on #53
@fgblomqvist 0.3.3 released. Thank you for your contribution! 🤩

[2021-07-23 16:23] #53 closed

[2021-07-23 17:13] bbugh commented on #16
Seems to be working now, thanks!

[2021-07-24 13:46] fi3ework opened #54 "[ESLint] single file diagnostic in watch mode will flush all other files' diagnostics"

[2021-07-25 05:54] #54 closed

[2021-07-26 11:41] duola8789 opened #56 "Why ts error in .vue file can not be displayed in Vite HMR overlay"
My IDE is Webstorm, I can get ts error in Typescript terminal, but it can not be dispalyed  in Vite HMR overlay

[code]
![image](https://user-images.githubusercontent.com/17665968/126982728-8b140efd-7a02-4816-bb68-631cd715b834.png)

And Vite HMR overlay also doesn't show the error

![image](https://user-images.githubusercontent.com/17665968/126982774-16d1d7fc-70c6-4d0e-aa15-d2a16fdca060.png)

is i

[2021-07-26 11:44] fi3ework commented on #56
Could you provide a minimal way to reproduce this project?

[2021-07-26 13:37] fgblomqvist opened #57 "Stylelint support"
Fantastic work on this so far! 🎉

Another handy tool to support could be stylelint. I think they're pretty much the universal CSS/SCSS linter. [They have a Node API](https://stylelint.io/user-guide/usage/node-api).

[2021-07-26 14:01] fi3ework commented on #57
Good idea! I think the implementation will be pretty much like ESLint. 🤔

[2021-07-26 14:31] fgblomqvist opened #58 ""No issues found" message if no checks return any errors/warnings"
If I have an ESLint error or two, then fix them, I see nothing in the console that indicates that I have done so.

On top of that, the Typescript checker currently seems to emit its own message ("Found X errors. Watching for file changes"). However it's not clear that it's coming from TS.

Instead of the above, I propose this:
* If all checkers run and there are no issues with any of them, print a

[2021-07-27 01:14] duola8789 commented on #56
https://github.com/duola8789/vite-ts

You could use this repository to reproduce, and the ts type error could be found at app.vue
thanks

[2021-07-27 15:56] fi3ework commented on #56
@duola8789 Thanks. I reproduce the demo. It can be fixed with a little tweak to VLS initial configuration (for VTI it works). But it needs a little more work to fix in this plugin. I'll fix it these days.

[2021-07-27 20:31] fgblomqvist opened #60 "enableBuild causes no files to be outputted"
If we have `enableBuild` set to true (the default), no files get outputted when building the app. Dev mode still works fine, but doing `vite build` results in this being the last message in terminal:
[code]
As in, it seems to skip rendering the chunks? Setting `enableBuild` to false makes the build work again.

[2021-07-28 00:15] duola8789 commented on #56
@fi3ework thanks

[2021-07-28 03:42] fi3ework commented on #60
could you provide a minimal re-produce repo or show the Vite configuration? Maybe some checker failed silently? 🤔

[2021-07-28 20:59] fgblomqvist commented on #60
This is our vite config (with enableBuild set to false, when we set it to true or remove it the build stops working):
[code]

[2021-07-28 21:07] fgblomqvist commented on #60
Did some further testing and if I do e.g.
[code]
(as in, nothing enabled)
The build just stops really fast. So yeah it seems like whenever vite-plugin-checker fails the whole build fails? But it all happens silently. If I turn off `enableBuild` things work.

[2021-07-28 21:10] fgblomqvist commented on #60
Actually I'm guessing that what's happening is that as soon as `checker` finishes, the build ends for some reason.

[2021-07-28 21:25] fgblomqvist commented on #60
Found the issue, it's here:
https://github.com/fi3ework/vite-plugin-checker/blob/main/packages/vite-plugin-checker/src/main.ts#L76-L81

That code could be more readable if you made the `buildStart` async and then just awaited:
[code]

Now it's pretty clear that `vite-plugin-checker` kills the process as soon as it's done, no matter what. The last line above should be changed to:
[code]

[2021-07-30 17:02] #56 closed

[2021-07-31 14:44] #60 closed

[2021-07-31 15:06] fi3ework commented on #58
fixed in #61

[2021-07-31 15:38] fgblomqvist commented on #58
This wasn't fixed in #61, it needs more work. E.g. the outputting of another message etc.

[2021-08-08 17:30] fi3ework opened #63 "Add log level"
We can ignore some suggestion level outputs, such as

![image](https://user-images.githubusercontent.com/12322740/128640405-ab04c6f3-c43f-4cbe-9c6a-f7974d83d0a5.png)

[2021-08-13 12:34] Akiyamka opened #65 "No way to specify -b flag"
Start from 3.0 typescript can work with multiply projects using ['references' ](https://www.typescriptlang.org/docs/handbook/project-references.html) feature, that  especially useful and is often used in monorepos.
To use this, tsc must be run with the -b (--build) flag here:

https://github.com/fi3ework/vite-plugin-checker/blob/main/packages/vite-plugin-checker/src/checkers/typescript/main.ts#L13

[2021-08-16 07:56] duola8789 opened #67 "Use VLS checking vue3 + ts code, throw an error "cannot find namespace xxx', but the namespace of xxx aleady decleard in .d.ts"
Use VLS checking vue3 + ts code,  throw an error "cannot find namespace xxx', but the namespace of xxx aleady decleard in .d.ts
![image](https://user-images.githubusercontent.com/17665968/129530562-b193ca2e-2d02-4001-8127-62bc02f0ef03.png)

![image](https://user-images.githubusercontent.com/17665968/129530582-c77c84c4-ae1b-4430-b9f7-551c3fd8e870.png)

[2021-08-16 08:12] fi3ework commented on #67
could you provide Vite configuration

[2021-08-16 09:59] duola8789 commented on #67
[code]

[2021-08-18 04:04] mikew opened #68 "Allow eslint warnings to fail a build"
We've grown accustomed to this behaviour from create-react-app, which fails builds in CI if there are any warnings, and have even started using `eslint --max-warnings 0` in our CI builds. How do you feel about adding something like a `maxWarnings` option to this plugin?

[2021-08-24 00:32] ambertino opened #70 "UnhandledPromiseRejectionWarning: Error: Unhandled method window/showMessageRequest"
Getting this issue in the console when using VLS. But it only happens if project is configured with a different `root` option in `vite.config.js`.

[2021-08-24 01:13] ambertino commented on #70
I resolved by configuring `Vetur` with `vetur.config.js`. Maybe worth to add it to the README as a note.

[2021-08-24 01:13] #70 closed

[2021-08-26 14:27] adamlindqvist opened #72 "Potential CPU usage issues with typescript/eslint"
I've noticed that since after I enabled this plugin, the CPU usage of the node process went up to 100% and my fans started to go crazy.

The node CPU usage starts to increase after a few compilation/checks.

[code]

[code]

I have problems to identify the issue any further. This is the behaviour if I have this plugin enabled. So I'm afraid I cant put any more details to it. I'm mostly creating thi

[2021-09-09 16:06] jonaskello opened #74 "How to typecheck composite typescript projects?"
I tried this and it seems like project references are ignored. I guess tsc is not run in --build mode?

https://www.typescriptlang.org/docs/handbook/project-references.html

[2021-09-09 16:09] jonaskello commented on #74
Seems like `tsc -p--noEmit` is run [here](https://github.com/fi3ework/vite-plugin-checker/blob/main/packages/vite-plugin-checker/src/checkers/typescript/main.ts#L130). In order to support typescript composite projects (project references) it must be possible to specify `--build` flag. This also means it needs to be possible to remove `--noEmit` flag becuase this is not allowed in combination with

[2021-09-09 16:12] jonaskello commented on #74
Just found #65 so closing in favor of that.

[2021-09-09 16:12] #74 closed

[2021-09-23 23:41] christopher-caldwell commented on #58
`Found 0 errors. Watching for file changes.` is the standard error message from the TSC in watch mode.

When there is an error, the message is in red, and very easy to see.

Perhaps the all clear could be green? Prefix could be `INFO`, `MESSAGE`, `SUCCESS`, etc

[2021-09-29 17:33] dkoujelev opened #75 "Clear terminal between outputs"
Would be nice if the terminal was cleared before outputting new warnings/errors instead of appending them.

![image](https://user-images.githubusercontent.com/22074219/135319506-de58e483-8a0f-4cb1-b1a4-9996480ed1c7.png)

[2021-10-09 08:27] manzxiao opened #76 "There are errors when add checker plugin"
[code]
![image](https://user-images.githubusercontent.com/79624270/136650570-117f560e-92f0-4d30-9038-51f4727a6435.png)

[2021-10-09 08:46] fi3ework commented on #76
Is there a `tsconfig.json` in your project root.

[2021-10-09 09:44] #76 closed, assigned to nobody

[2021-10-21 17:41] iKnowMagic opened #77 "config.eslint configFile, maxWarnings giving errors"
Hi,

When trying to configure the eslint parameters _configFile_ or _maxWarnings_ I get errors. Thoughts?
The parameters _files_ and _extensions_ seem to be working fine.

I am using:

"eslint": "^7.32.0",
"vite-plugin-checker": "^0.3.4"

See the screenshots below.

![image](https://user-images.githubusercontent.com/8712362/138329339-cb4176df-8301-4250-8f15-7826e2ff3fc3.png)

![image](https://user

[2021-10-21 20:33] iKnowMagic opened #78 "Warnings are being displayed as errors"
Hi,

I have a rule as a warning and yet, it triggers a blocking popup box, that seems to be an error rather than a warning. Is there a way to avoid displaying warnings?

Thanks.

![image](https://user-images.githubusercontent.com/8712362/138352600-13c821c9-e847-41db-9f75-c1a6786f0c1a.png)

[2021-10-21 21:06] iknowmagic opened #79 "maxWarnings not being acknowledged in serve mode"
Hi,

The maxWarnings setting does not seem to be doing anything. In the attached screenshot, I set the maxWarnings to 100000 and I still saw the error popover.

![image](https://user-images.githubusercontent.com/8712362/138356688-32f481a5-0755-46a9-9d5e-70f9e6ba1b15.png)

Thanks!

[2021-10-21 21:22] iKnowMagic opened #80 "Popup error goes away after reloading the page"
The generated popup error description goes away after the page has been reloaded.

There should be a way to force the error to show up after page reload.

Many thanks.

[2021-10-23 05:51] AverageHelper opened #81 "TypeError on config run (ESM Support)"
I have my Vite config set up like so:

[code]

I'm using this in a Vue 3 project, and my aim is to set up proper type checks separate from VSCode's [since Vite does not intend to support this, even at build time](https://github.com/vitejs/vite/issues/2539#issuecomment-809273298).

After adding the `vite-plugin-checker` import and calling `checker`, running `vite` or `vue-tsc` results in an error:

[2021-10-25 06:37] jerrywu001 opened #82 "vls configuration currently does not recognize setup+ts"
First of all, this is a very powerful plug-in, thanks to the author!

But I have a problem, it would be perfect if anyone can improve it.

----------------------------------------------------------------
Scenes：(a simple demo with setup + ts)

My needs：

[code]

The following error will appear：

- ERROR(VLS)  Module '"xxx.vue"' has no default export

- ERROR(VLS)  Property 'name' does not exist on

[2021-10-29 03:44] hackftz opened #83 "eslint warning or error information not clear when save the file and trigger recompile"
hello, I got a minor question and I think it is not the problem from vite, so I wanna to talk about this.

I write some code that can cause several error message, if I fix part of it and save file, the project reload and the remain error message overlay the old thing. Up to now it seems ok, but when I fix all of it, I expected all eslint error message can get clear but it still show the previous e

[2021-11-07 18:23] zerogu commented on #82
I ran into the same problem

[2021-11-12 21:05] ascott18 opened #85 "No way to customize VLS settings"
Unless I'm missing something, it doesn't appear there's a way to customize the settings passed to VLS.

I want to perform type checking on my `<script lang=ts>`, but not on my templates. It seems these settings are hardcoded in `initParams` and there's no way to override them. Is there something I'm missing?

[2021-11-15 19:32] ascott18 commented on #85
I'm working on a PR for this.

[2021-11-25 23:26] philer commented on #81
I've got the same issue, would be grateful for a solution.

[2021-12-13 15:44] vmarchaud commented on #81
I just had the issue, it was because i had configured `"type": "module"`  in your package.json that forces vite to use esm however `vite-plugin-checker` is still published as CJS

[2021-12-13 17:46] yannxaver commented on #72
+1 here. node process running at 99.9% pushing MBA M1 to 70-80 degrees. Solved when deactivating the plugin.

[2021-12-15 07:43] franzosterkamp commented on #72
+ 1 we needed to delete this plugin because of this issue, any solution out there ?

[2021-12-15 12:55] fmendez89 commented on #72
I have this issue too, I had to disable meanwhile. It literally kicked the fans of the laptop at 100%.

[2021-12-18 18:45] DrJume commented on #72
Same here

[2022-01-01 01:58] eyalw commented on #72
+1 `node` process at 20% CPU always.
Disabling plugin eliminates the issue

[2022-01-03 17:14] fi3ework commented on #82
Sorry for the late response. This is vls(vetur) related feature request. According to https://github.com/vuejs/vetur/issues/2296, I think it's not supported by vls now. And TypeScrpit do not support `.vue` file unless using a customized lang server like vls or vue-tsc.
I think we have to wait for vue-tsc support watch mode. Maybe we can run `vue-tsc --noEmit` fully whenever any file changed as a s

[2022-01-05 18:13] fi3ework commented on #83
Sorry for the late response. I gave it a try but I can not reproduce this phenomenon. Could you provide a minimal repo or describe how to remain an unexpected error message in the terminal in more detail.

[2022-01-06 18:53] templeman15 opened #90 "TS isolatedModules setting conflciting with vite-plugin-checker"
Hello,

Thanks for this library, it's great!

I did want to ask about `isolatedModules` being set to `true` in `tsconfig.json`.

The Vite docs, write that it should be set to true right [here](https://vitejs.dev/guide/features.html#typescript-compiler-options).

The only way I could get this plugin to show any of the typescript errors is if it was set to false or removed it from tsconfig.

Thanks

[2022-01-08 21:25] GabriFila commented on #78
Yes it would be great to have this feature!

[2022-01-09 08:23] fi3ework commented on #80
Implemented in https://github.com/fi3ework/vite-plugin-checker/pull/91. Waiting to be released.

[2022-01-09 08:28] #80 closed

[2022-01-09 08:48] fi3ework commented on #90
I didnot understand clearly due to the description. You mean you cannot get any error if isolatedModules is set to true?

[2022-01-09 13:40] fi3ework commented on #79
I took a look at ESLint docs and ts definitions. `max-warnings` is not supported by node.js API which vite-plugin-checker depends on in dev mode.

[2022-01-09 18:26] templeman15 commented on #90
@fi3ework yes that is correct. If I set isolatedModules to true as the Vite docs recommend your package stops working (no typescript errors show in browser and no output in the Vite server console).

[2022-01-16 17:42] fi3ework commented on #85
Sorry for the late response, but I believe you can customize the VLS' configuration by https://vuejs.github.io/vetur/reference/#example. Would you like to have a try?

[2022-01-16 19:12] ascott18 commented on #85
That's true, but that affects VS Code's behavior as well.

I want to be able to turn off template and interpolation validation for the build, but keep those enabled within VS Code. Reason being is that I want that feedback in VS code because its often useful, but sometimes there are typescript errors within the template (usually `Object is possibly 'null'`) that are not actually real errors. Typic

[2022-01-18 21:11] eyalw opened #95 "Please create a VSCode problemMatcher to show all findings in Problems panel"
Please create a VSCode problemMatcher to show all findings in Problems panel

[2022-01-18 22:36] eyalw commented on #95
So the following can work, except that we need some pattern to indicate START and END of compilation of both the Typescript and ESLINT.
e.g.
[code]

VSCode Tasks file:
[code]

[2022-01-27 00:55] michalsnik opened #99 "Vue2 - VLS throwing errors"
I'm trying to use this plugin in Vue 2.

Typescript checker works as expected, however when I install and enable `vls` in config - I'm getting bunch of errors pointing at `<template>` tags in each component, for example:
- ERROR(VLS)  Duplicate identifier '(Missing)'.
- ERROR(VLS)  Cannot find name '__vlsRenderHelper'.
- ERROR(VLS)  Cannot find name '__vlsComponentData'.
- ERROR(VLS)  'this' impli

[2022-01-28 11:51] szamanr commented on #75
it should be configurable with appending as default, and clearing as an option.

[2022-01-28 16:31] fi3ework commented on #75
For now. vite-plugin-checker leverages the default terminal clean behavior of Vite.
- If scroll to the bottom of the terminal, the tty output will be cleaned by Vite update info which is desired.
- If not scrolled to the bottom of the terminal, then you will see the full history log output by vite-plugin-checker.
vite-plugin-checker should clean the log before code updating by itself. It will be i

[2022-02-01 18:33] buckeyez opened #101 "ES Module Support"
Would like the package to also support ESM. Current build config is CJS. When using Vite in an ES module, this will throw:

error when starting dev server:
TypeError: checker is not a function
    at file:///C:/Projects/test-bench/vite-plugin-checker/vite.config.ts.js?t=1643740226049:8:5
    at ModuleJob.run (internal/modules/esm/module_job.js:170:25)
    at async Loader.import (internal/modules/e

[2022-02-02 14:32] #101 closed

[2022-02-02 14:40] fi3ework commented on #95
I'm working on 0.4.x to show all problems in UI view at the same time (almost done!). And the overlay UI is rewritten with Svelte so we can make it more powerful, such as foldable like react-query. So the priority of the enhancement might not be high.

[2022-02-02 15:21] fi3ework commented on #77
Sorry, `max-warning` is documented in README but it's not released in 0.3.4 😅.
I'm working on 0.4.0 which will pass options to ESLint in a more transparent way. But still, `max-warnings` will only work in build mode cause only the ESLint CLI respect it, see https://github.com/eslint/eslint/blob/6f940c3ce715327f282c197d0f71b91848e5d83d/lib/cli.js#L322. I think log level is needed to be a compensati

[2022-02-03 07:48] fi3ework commented on #6
implementated in https://github.com/fi3ework/vite-plugin-checker/pull/93

[2022-02-03 07:48] #6 closed

[2022-02-03 07:50] fi3ework commented on #30
Maybe not a good idea as console in browser is not cleared automatically and in 0.4.0 we have a more powerful overlay UI rewritten with Svelte.

[2022-02-03 07:50] #30 closed

[2022-02-03 08:17] fi3ework commented on #72
Sorry for the late response. Could anybody provide a minimal reproduction repository?

[2022-02-03 08:19] fi3ework commented on #72
Maybe this is related to some wrong internal ESLint configuration inside the checker.

[2022-02-08 04:55] Yuddomack opened #108 "Please consider deploying improved 'watch' usage to 0.3.x stable"
Hi @fi3ework !

I am using root of vite config and 'eslint' option in vite-plugin-checker.
But I got an error when I edit a watched file.
(like this https://stackblitz.com/edit/vite-yasinn?file=rootA%2Fmain.js)

As a result, it was necessary to apply the root path to the cwd option of chokidar.
and The code has already been fixed and seems to have been released in 0.4.0 beta2.

https://github.com/

[2022-02-08 09:06] fi3ework commented on #108
@Yuddomack Would you like to describe what issue you encountered in 0.4? I prefer you to use 0.4.x as I fix many issues in 0.3. If you need any documentation, I can add it ASAP.

[2022-02-08 09:08] fi3ework commented on #108
If you need a example of configuration for ESLint in 0.4.x. Here's an example https://github.com/fi3ework/vite-plugin-checker/blob/v0.4.x/playground/eslint/vite.config.ts

[2022-02-08 11:45] fi3ework commented on #108
@Yuddomack I think I figured out the reason. It's because ESLint 8 used an exports map and some path is not defined in it. I'll take a look at it.

[2022-02-08 12:21] fi3ework commented on #108
I also find one function https://github.com/fi3ework/vite-plugin-checker/blob/v0.4.x/packages/vite-plugin-checker/src/main.ts#L155 which 0.4.x used requires `vite >=2.6.8`. I made a new playground with eslint^7 & vite^2.6.8 it goes well. https://stackblitz.com/edit/vite-jh9mtj?file=vite.config.js

[2022-02-08 13:58] #108 closed

[2022-02-08 14:16] fi3ework commented on #108
published a new beta version and bump to beta.6 it works now. https://stackblitz.com/edit/vite-kq51d6?file=package.json

[2022-02-08 14:34] #85 closed

[2022-02-08 15:23] fi3ework commented on #108
0.4.0 released

[2022-02-08 15:37] fi3ework commented on #79
0.4.0 is published and if you wanna ignore warnings you can use `eslint.dev.logLevel` https://github.com/fi3ework/vite-plugin-checker#eslint. `maxWarnings` is only supported in build mode for now. But I think it could be implemented as `eslint.dev.maxWarnings`

[2022-02-08 16:05] fi3ework commented on #83
the issue should be fixed in 0.4.0. There's a little modification of the config of eslint. See [documentation](https://github.com/fi3ework/vite-plugin-checker#configeslint) and [example](https://github.com/fi3ework/vite-plugin-checker/blob/main/playground/eslint/vite.config.ts).

[2022-02-08 16:05] #83 closed

[2022-02-08 16:17] #78 closed

[2022-02-08 16:20] fi3ework commented on #77
tracks in https://github.com/fi3ework/vite-plugin-checker/issues/79

[2022-02-08 16:22] #77 closed

[2022-02-08 16:27] #67 closed

[2022-02-11 07:36] LukasMarx commented on #72
We are facing the same issue. I tried to create a minimal reproduction repository today without any success. @fi3ework If you have any suggestions what could be causing this issue I would be happy to try to reproduce the issue.

Regarding your suspicion that this issue could be related to eslint, I have to say that we are not using eslint with typechecker:

[code]

However we do use eslint separat

[2022-02-11 09:04] fi3ework commented on #72
@LukasMarx could you please provide the checker configuration and the checker version of the repository which you encountered the issue. Would you like to give it a try to upgrade to 0.4.0 if you are using 0.3.x? Many bugs are fixed in 0.4.0 and I don't know whether this is also fixed as I can't reproduce it till now 😔

[2022-02-11 09:32] fi3ework commented on #72
@LukasMarx You can take a look at my minimal test example: https://github.com/fi3ework/vite-plugin-checker/tree/main/playground/react-ts. And provide the information you suspect such as customized tsconfig, monorepo etc. and I would like to reproduce on my machine.

[2022-02-11 10:45] LukasMarx commented on #72
@fi3ework
- I did update to 0.4.0 and it did not resolve the issue.
- I`m on Windows 10. The process causing the CPU-usage is "C:\Program Files\nodejs", which does not help at all...
- We are not using any config other than `Checker({ typescript: true})`
- Yes we are using a monorepo with lerna
- We are using [@mui/material](https://www.npmjs.com/package/@mui/material) which is known for poor type

[2022-02-11 12:08] Grisu118 opened #112 "References to checker plugin in production build"
The new version 0.4.0 adds the following line to the index.html
[code]

This is done also for a production build, in my eyes this is wrong and should only happen for dev builds.

[2022-02-11 14:11] fi3ework commented on #112
@Grisu118 Sorry for my stupid mistake 😅. I made a hotfix and published 0.4.1. I'll add a test case for this issue later. Thanks for your good catch! Please upgrade to 0.4.1 🤗. https://github.com/fi3ework/vite-plugin-checker/blob/main/packages/vite-plugin-checker/CHANGELOG.md#041-2022-02-11

[2022-02-11 14:11] #112 closed

[2022-02-12 12:30] fi3ework commented on #58
implemented in 0.4.2. ESLint and VLS check summary are added.

[2022-02-21 18:07] greenhat616 opened #115 "How to slient the ignored file warning"
Because of my program using auto-generated .d.ts, which  is incompatible with my custom eslint rules, I had to ignore these files.

This issue is caused by `eslint 'ignore_file'` like:
[code]

-------------
attachment 1:
emmm, is `eslint.dev.eslint`  defined in `vite.config.js`? THX

[2022-02-21 20:46] GabriFila opened #116 "Show warnings only in console"
Hi, love this plugin!

Is there a way to now show any kind of warning (TS, ESlint, ...) as an overlay but show them only in the console? A bit like CRA behaves?

Thank you

[2022-02-22 03:42] fi3ework commented on #116
It's not possible to remove the runtime code for now. But as a workaround, you can pass `display: none;` to the badgeStyle property to hide the badge entirely at development mode and no runtime of this plugin will be bundled in production mode. See the documentaion https://github.com/fi3ework/vite-plugin-checker/blob/main/README.md#checker-common-config

[2022-02-22 06:53] fi3ework commented on #115
I didn't quite understand the issue. I guess that you want ignore some paths in the development mode. You can pass argv to ESLint as it documented. e.g. `npx eslint --ignore-path tmp/.eslintignore file.js`. Is this what you need? https://eslint.org/docs/user-guide/command-line-interface#ignoring-files

[2022-02-22 06:59] Yuddomack commented on #115
@greenhat616

I also had a similar situation, eslint tells you which path was ignored. (in my case, notified `coverage/...` from jest reports ignored)
solved it by excluded from inspection, not ignore pattern.

so you can try

[code]

I'm not sure it is best, but this will be a temporary solution (If the notification bothers you)

[2022-02-22 08:06] GabriFila commented on #116
I didn't fully understand your answer, why do you mention runtime code?
How difficult would it be to add this feature? Could I make a PR?

Thanks

[2022-02-22 08:26] fi3ework commented on #116
configure it like this and the badge will disappear.

[code]

The runtime code refers to the overlay code which is injected into the index.html under development mode. Ideally, if we disable the overlay, there's no injected runtime code at all. But for now, we can `display: none` to achieve the same target, but there's still runtime code injected without visibility. I can't tell how much it will c

[2022-02-26 00:15] mikew opened #117 "ESLint failures aren't stopping the build"
Neither `--max-warnings` or actual eslint errors are failing the build as expected

Here's a run with an error-level issue in eslint:

[code]

And a warning with `--max-warnings`:

[code]

And to confirm, when running `eslint` manually it exits with an error as expected in both scenarios:

[code]

[code]

[2022-02-26 00:27] mikew commented on #117
False alarm! I done goofed

[2022-02-26 00:27] #117 closed

[2022-03-04 12:28] olemarius opened #118 "Cannot find module '' or its corresponding type declarations. when using alias @"
I'm getting a ton of these errors
 `Cannot find module '@/components/Navigation/MainMenu/MainMenu.vue' or its corresponding type declarations.`

I'm not getting these errors elsewhere (when developing in vs code or when running vue-tsc).

tsconfig
[code]

vite.config.js and tsconfig.json is in the same folder, so the setup is pretty ordinary.

Also worth to mention that I'm using volar with typesc

[2022-03-05 18:51] scott-lc opened #119 "Add support for Vite `server.hmr.path` configuration."
In Vite, you are able to configure customer settings for the websocket connection between the frontend application and the backend Vite dev server:

https://vitejs.dev/config/#server-hmr

As mentioned in the Vite documentation, this is useful when you are using an SSL proxy in front of  Vite dev server.  This is exactly what I am doing, using NGINX as an SSL proxy, passing HTTPS/SSL` traffic on po

[2022-03-06 05:44] MoishyS commented on #82
@fi3ework I am using `vite build --watch` and it looks like it does add run `vue-tsc --noEmit` fully, my issue is that it stops the watch if it has any ts errors.

[2022-03-07 09:44] greenhat616 commented on #115
I'm sorry that I reply you so lately. I have tried with `--ignore-path` flag before. when it first launched, no error would appear.
BUT when HMR occurs, it might show `warning  File ignored because of a matching ignore pattern. Use "--no-ignore" to override`.

I used `unplugin-auto-import` and `unplugin-vue-components` to finish auto import deps, functions and generate necessary type definition fi

[2022-03-07 09:47] greenhat616 commented on #115
@Yuddomack Thank you for your workaround. I will have a try later. THX

[2022-03-09 11:43] fgblomqvist opened #120 "Add changelog"
I know this project is pre-1.0 but it would still be helpful to maintain a changelog.

[2022-03-09 16:39] geewhizbang opened #121 "Readme is rather opaque in this section"
This instruction on readme is completely incomprehensible. Which file is being modified, for example:

Make sure [eslint](https://www.npmjs.com/package/eslint) is installed as a peer dependency.  \\What does this mean?

Add eslint field to plugin config, the lintCommand is required, it's quite like the lint command of your project. The default [root](https://vitejs.dev/config/#root) of the command

[2022-03-13 14:31] #119 closed

[2022-03-13 14:50] fi3ework commented on #121
It means, if you wanna use ESLint checker. You should install eslint to your project as it will be invoked and add eslint filed to the checker config.

Yes, it is. It's only an example. You can write your lint command there. It's quite like the lint command in your lint command in packagejson.script.

[2022-03-13 14:50] #121 closed

[2022-03-13 15:02] fi3ework commented on #120
changelog is here https://github.com/fi3ework/vite-plugin-checker/blob/main/packages/vite-plugin-checker/CHANGELOG.md, but it's a little massive atm 😅. It might should be moved to the root.

[2022-03-13 15:02] #120 closed

[2022-03-13 15:04] fi3ework commented on #118
Could you provide the vite config?

[2022-03-13 15:11] fi3ework commented on #119
released in 0.4.3

[2022-03-13 16:02] olemarius commented on #118
[code]

[2022-03-13 16:12] olemarius opened #124 "add vue-tsc watch mode support"
### Is your feature request related to a problem? Please describe.

running vue-tsc --watch is too slow, need to run it via this plugin

### Describe the solution you'd like

Add new support for vue-tsc in this plugin

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

### Validations

- [X] Read the [docs](https://github.com/fi3ework/vite-plugin-che

[2022-03-13 16:23] fi3ework commented on #124
Thanks! I'm looking into the new released vue-tsc and working on it.

[2022-03-15 16:23] geewhizbang commented on #121
This is a non-explanatory explanation.

[2022-03-20 10:37] fi3ework commented on #124
https://github.com/johnsoncodehk/volar/issues/1082

[2022-03-20 12:31] masx200 opened #125 "error with vls :[TypeScript] Error: Unhandled method window/showMessageRequest"
### Describe the bug

[code]

### Reproduction

vite.config.ts
[code]
package.json
[code]

### Expected behavior

no errors

### System Info

[code]

### Additional context

_No response_

### Validations

- [X] Read the [docs](https://github.com/fi3ework/vite-plugin-checker#readme).
- [X] Check that there isn't already an issue that reports the same bug to avoid creating a duplicate.

[2022-03-20 12:42] masx200 commented on #125
When I replaced vls with vuetsc, the error disappeared? Does this error have anything to do with typescript?

vite.config.ts
[code]

[2022-03-20 12:43] fi3ework commented on #125
vue-tsc's watch mode for vite-plugin-check is still WIP, so not error will be shown in mode for vue-tsc

[2022-03-20 12:44] fi3ework commented on #125
try to change

[code]

to

[code]

[2022-03-24 18:20] fi3ework commented on #124
released in 0.4.4

[2022-03-24 18:20] #124 closed

[2022-03-24 18:29] fi3ework commented on #82
vue-tsc in watch mode is supported since 0.4.4. Vue3 can drop VLS now. Have a try!

[2022-03-24 18:30] #82 closed

[2022-03-24 18:33] fi3ework commented on #99
I encountered this issue recently. I don't quite understand what caused it but I did some changes to eliminate the issues.

1. use typescript of `~4.3.2`
2. Add a `vetur.config.js` of following configuration

[code]

[2022-03-24 18:35] fi3ework commented on #125
vue-tsc in watch mode is supported since 0.4.4. You can drop VLS if you're using Vue3. Have a try!

[2022-03-24 18:35] #125 closed

[2022-03-24 18:35] fi3ework commented on #125
Feel free to open another issue if any problem with vue-tsc watch mode in 0.4.4.

[2022-03-24 18:47] fi3ework commented on #118
I'm not so familiar with Vue and I give a try to the vanilla TypeScript alias, it works fine (https://stackblitz.com/edit/vitejs-vite-tkbtxj?file=vite.config.ts). So I guess the reason is TS does not support .vue by default.
I just released 0.4.4 which supports vue-tsc in dev mode. I guess vue-tsc will performs well for a Vue project with TypeScript. You can modify the checker config like this.

[

[2022-03-24 18:54] fi3ework commented on #90
Cannot produce the issue. I made a stackblitz playground and set `isolatedModuels` to true and everything goes well. Could you try to reproduce and provide a link of stackblitz? https://stackblitz.com/edit/vitejs-vite-tkbtxj?file=tsconfig.json

[2022-03-24 19:47] olemarius commented on #118
works now :-)

[2022-03-24 19:47] #118 closed

[2022-03-24 19:51] olemarius opened #127 "Worker terminated due to reaching memory limit: JS heap out of memory"
### Describe the bug

Error [ERR_WORKER_OUT_OF_MEMORY]: Worker terminated due to reaching memory limit: JS heap out of memory

![image](https://user-images.githubusercontent.com/184536/159998226-8f03b240-c303-4cd7-8a5a-bcf7e5eb1e76.png)

### Reproduction

current setting:
[code]

### Expected behavior

no heap out of memory error, or ability to increase memory limit

### System Info

[code]

### A

[2022-03-24 20:59] DannyFeliz commented on #127
I have the same issue except that I only have `vueTsc: true` enabled

[2022-03-24 22:22] jzs11 commented on #127
It's a regression in 0.4.4, I have the same error. Downgraded it to resolve the problem.

[2022-03-25 03:25] fi3ework commented on #127
🤔 Guess this is related to vue-tsc watch mode. I made a minimal repro without vite-plugin-checker and it seems like there's a potential memory leak. https://github.com/johnsoncodehk/volar/issues/1082

[2022-03-25 14:47] fi3ework commented on #127
Seems like it's fixed in vue-tsc@0.33.9

[2022-03-28 06:48] fi3ework opened #128 "hide project base path of file path in error overlay"
### Is your feature request related to a problem? Please describe.

No

### Describe the solution you'd like

For now, the error overlay shows a diagnostic with an absolute file path. I think it's better to hide the project path prefix for better reading.
We can trim the prefix or replace it with a string token.

<img width="716" alt="image" src="https://user-images.githubusercontent.com/12322740/

[2022-03-29 14:47] DrJume opened #129 "Error: Cannot find module '<projectDir>/node_modules/.pnpm/vite-plugin-checker@0.4.4_vite@2.8.6/node_modules/vite-plugin-checker/lib/checkers/vueTsc/typescript-vue-tsc/package.json'"
### Describe the bug

When enabling `vueTsc` inside vite.config.ts by setting `vueTsc: true`, this error appears when running `vite` in dev-mode.

It appears, that a `package.json` is missing inside `node_modules/vite-plugin-checker/lib/checkers/vueTsc/typescript-vue-tsc/`

The issue was fixed by downgrading to `v0.4.3`

### Reproduction

1. Install `vite-plugin-checker` with `pnpm`
2. set `vueTsc

[2022-03-30 00:45] ngokevin commented on #127
Hmm, a number of us are getting out-of-memory on `0.4.3` and we don't use Vue. Any ideas?

[2022-03-30 01:49] jzs11 commented on #127
Just an update after a few days using 0.4.4 and vue-tsc@0.33.9, most of the time is fine. However, I still experienced 2-3 times out of memory problems.

[2022-03-30 03:38] fi3ework commented on #129
Try deleting `node_modules` and `pnpm i` again. Does it work? Did you disabled `hoist` of pnpm in npmrc?

[2022-03-30 03:41] fi3ework commented on #127
Could you provide your vite config?

[2022-03-30 03:53] fi3ework commented on #127
Does the OOM occur after a long time of development without the process terminated.

[2022-03-30 04:43] jzs11 commented on #127
That's correct.

[2022-03-30 04:43] jzs11 commented on #127
That's correct.

[2022-03-30 07:06] DrJume commented on #129
I already tried that. I also didn't change the default pnpm settings.

[2022-03-30 07:17] fi3ework commented on #129
Would you like to paste your package.json

[2022-03-30 09:02] johnsoncodehk commented on #127
@jzs11 could you try move this code in `node_modules/vue-tsc/out/proxy.js`?
[code]

[2022-03-30 17:49] ngokevin commented on #127
We have some preliminary results that it may be people had it crash after a few restarts on Node v12, but not Node v14.

[2022-03-30 19:47] jzs11 commented on #127
Hey dude, I did that, I will be using it for a few days to see things have been improved. Cheers.

[2022-03-30 20:03] danielwaltz commented on #127
Hitting this issue too in a Vue 2 project using `vue-tsc`, `eslint`, and `typescript`. I run out of memory pretty quick using all three. It happens to be a very large project as well, so kind of a worst case scenario. I'm also using node `v14`.

[2022-03-30 20:15] johnsoncodehk commented on #127
Please also track https://github.com/johnsoncodehk/volar/issues/1108, it is break changes but it will reduce a half of memory usage.

[2022-03-31 02:09] jzs11 commented on #127
With that code change, it happened once after few hours usage
![image](https://user-images.githubusercontent.com/2770401/160962058-fc1de10b-8a93-45b7-bade-fb207016e8a9.png)

[2022-03-31 05:43] smtrd3 opened #130 "Unwanted typescript errors when dev server is started"
### Describe the bug

Note that I am running vite under a monorepo setup, specifically using pnpm workspaces. I just bootstrapped the app with react-ts and vite-plugin-checker is the only plugin installed. I can see the following error

[code]

Screenshot:
<img width="1094" alt="Screenshot 2022-03-31 at 11 15 59 AM" src="https://user-images.githubusercontent.com/37965074/160985230-d94ad1fc-1592-45

[2022-03-31 14:56] buckeyez commented on #81
Any update on this? Is it on the agenda?

[2022-04-03 17:03] fi3ework commented on #81
This issue will be fixed in days.

[2022-04-05 05:58] fi3ework commented on #81
fixed in 0.4.5

[2022-04-05 05:58] #81 closed

[2022-04-05 06:15] fi3ework commented on #130
any issues reported by running `tsc --noEmit`?

[2022-04-05 08:27] DrJume commented on #129
Issue was fixed with (probably) version 0.4.5 👍

[2022-04-05 15:25] maiomiaoh commented on #127
![image](https://user-images.githubusercontent.com/102890357/161788985-0c260723-4d4a-4e78-8f22-2b352cc679d2.png)
I have the same problem！

[2022-04-05 18:45] jacekkarczmarczyk opened #132 "eslint rule name is not displayed"
### Describe the bug

Eslint shows the rule name when there's an error or warning, but it is not visible in the plugin (neither in console nor in the overlay)

Console:
![image](https://user-images.githubusercontent.com/15625235/161827079-7dc50849-74fd-4981-add9-b4cfeaef4f57.png)

Overlay:
![image](https://user-images.githubusercontent.com/15625235/161827134-21a20382-050f-4cb3-9315-f5ac339aa692.pn

[2022-04-06 03:13] fi3ework commented on #132
Good catch!

[2022-04-06 04:35] #132 closed

[2022-04-06 15:47] val1984 commented on #130
I got a similar issue with `vite@2.9.1` and `vite-plugin-checker@0.4.5`. Turns out it was because `skipLibCheck` was set to `true` in my project `tsconfig.json` file.

[2022-04-06 15:56] fi3ework commented on #130
@val1984 I think setting `skipLibCheck` to true can eliminate this report. And could you run `tsc --noEmit` in your project to verify is it a right report from tsc?

[2022-04-06 16:00] val1984 commented on #130
Sorry, I wasn't clear in my previous message but it definitely fixed the issue for me.

@smtrd3 Can you try this solution?

[2022-04-06 16:20] fi3ework commented on #130
For anyone who encounters similar issues. You can run `tsc --noEmit` or `vue-tsc --noEmit` under your project. If the command reports the same issues, then there's nothing to do with vite-plugin-checker cause it just forwards the issues. If not, please leave a comment below.

[2022-04-07 12:19] Gercov opened #134 "Now showing errors"
### Describe the bug

Always showing this message: `[vue-tsc] Found 0 errors. Watching for file changes.` even errors

### Reproduction

Docs steps by install vite-plugin-checker

### Expected behavior

Throw error

### System Info

[code]

### Additional context

![image](https://user-images.githubusercontent.com/51914212/162196333-65efac41-ea64-43fd-983a-dfb921e04ab1.png)
![image](https://user-i

[2022-04-07 16:54] Gercov commented on #134
![image](https://user-images.githubusercontent.com/51914212/162256456-ada8851e-dcf3-4790-88f6-e71d7f301a24.png)
Nothing

[2022-04-07 16:54] Gercov commented on #134
@fi3ework
Nothing
![image](https://user-images.githubusercontent.com/51914212/162256520-fa0e13d9-9550-4432-8897-cc44d09577d4.png)

[2022-04-07 16:57] Gercov commented on #134
@fi3ework
![image](https://user-images.githubusercontent.com/51914212/162257034-6bd8d1a6-54ac-460a-97ae-1c0f811cc686.png)

[2022-04-07 16:59] fi3ework commented on #134
So that should be `vue-tsc` related issue. vite-pluigin-checker only reports what issues the checker found. I saw you are using `vueJsx`, guess that's not supported by vue-tsc 🤔. You can open an issue in https://github.com/johnsoncodehk/volar. I'm going to close issue since it's upstream related.

[2022-04-07 16:59] #134 closed

[2022-04-07 17:02] Gercov commented on #134
@fi3ework Ok thanks

[2022-04-13 19:14] ascott18 opened #135 "Import of `@vite-plugin-checker-runtime` does not respect `base`, resulting in requests to invalid URL"
### Describe the bug

I proxy my vite dev server through an ASP.NET Core application in order to mimic how the app will behave in production.

In order to do this, I set a `base` in `vite.config.ts` of `/vite_hmr/` when in serve mode, and then use this path to determine which requests need to be proxied from ASP.NET Core to vite. However, the injected `@vite-plugin-checker-runtime` does not respec

[2022-04-14 03:09] fi3ework commented on #135
it should be fixed in 0.4.6, have a try.

[2022-04-14 06:27] ascott18 commented on #135
Works perfect. Thanks!

[2022-04-14 06:27] #135 closed

[2022-04-23 20:41] johnsoncodehk commented on #127
Does this problem resolved in vue-tsc 0.34 later?

[2022-04-24 07:51] jzs11 commented on #127
I

I have to stop using the checker due to this issue....

[2022-04-28 10:15] maiolica commented on #127
Situation got better (crash happens after ~15 mins vs ~5 mins in my case), but issue is still there.

[2022-04-28 10:20] johnsoncodehk commented on #127
@maiolica Thanks for the information. Could you try run `vue-tsc --noEmit --watch` without vite-plugin-checker to check if the problem still have?

[2022-04-28 13:47] maiolica commented on #127
Error happens after the first incremental compilation (project has ~1000 Vue components)

<details>
  <summary>Error stack</summary>

[code]
</details>

[code]

[2022-05-05 22:36] guiphc commented on #130
I am having the same problem, in my case I am getting way more erros from node_modules libs:

![image](https://user-images.githubusercontent.com/7368169/167036119-6267e099-b090-4aa5-91c5-6e6a7693fdb8.png)
![image](https://user-images.githubusercontent.com/7368169/167036170-96ee0479-378b-48d1-91b4-9d0bbfaae4f8.png)

[2022-05-06 03:20] fi3ework commented on #130
@guiphc add `skipLibCheck: true` to tsconfig

[2022-05-06 03:35] guiphc commented on #130
this did not work, for some reason looks like the plugin did not respect my tsconfig.

[2022-05-06 04:39] fi3ework commented on #130
@guiphc Provide a stackblitz link please

[2022-05-11 11:44] thielepaul opened #137 "Crashing in dev-mode with quasar and `vueTsc`"
### Describe the bug

When starting the dev server with `quasar dev` it crashes with the follwoing error:
[code]

There is a similar issue (https://github.com/fi3ework/vite-plugin-checker/issues/129) but I assume this is different, as the other issue is closed already

A try catch around the lines where it is crashing seems to fix the issue: https://github.com/thielepaul/vite-plugin-checker/commit

[2022-05-14 02:47] blm768 opened #138 "TypeScript errors terminate watch mode"
### Describe the bug

When working in watch mode, if the plugin encounters a TypeScript error, it terminates the build process immediately.

### Reproduction

In any existing Vite + TypeScript project that is configured to use `vite-plugin-checker`:

1. Run `vite build --watch`.
2. Modify a TypeScript file in such a way that `tsc` would report an error.

### Expected behavior

While in watch mode,

[2022-05-19 11:40] #115 closed

[2022-05-23 14:40] matheusliraofficial opened #139 "Crash when starting vite dev server"
### Describe the bug

I've installed the vite-plugin-checker to use the typescript checker feature.

I added this config to my **vite.config.ts**

[code]

five seconds after I start my application, the server crashed and I got this error message:

[code]

### Reproduction

Install vite-plugin-checker, enable the typescript checker at vite config file and run the vite dev server

### Expected behav

[2022-06-02 18:21] DrJume commented on #129
Me too...

[2022-06-02 18:38] DrJume commented on #129
I could fix this issue by running `pnpm store prune` or manually deleting the whole pnpm store in `pnpm store path` and reinstalling the dependencies with `pnpm install`.

[2022-06-02 18:43] DrJume commented on #129
It's very weird, because 1 hour ago everything was ok.

I think a `pnpm install` in a different repo somehow deleted the `package.json` inside `typescript-vue-tsc` in my local pnpm store... So it seems to be an issue with `pnpm`?

[2022-06-04 05:48] fi3ework commented on #128
not stale

[2022-06-16 07:54] Miofly commented on #137
Has this problem been solved？

[2022-06-16 07:55] Miofly commented on #129
Has this problem been solved

[2022-06-16 09:08] YamadaAoi opened #141 "Type 'EChartsOption' is not assignable to type 'xxxxxx'"
### Describe the bug

when I use  vue3 reactive define a const paramter
like this:

`
import { EChartsOption } from 'echarts'

interface ChartsOption {
  chartId: string
  option?: EChartsOption
}

function getOption(): EChartsOption {
  return {
    ... // some echarts options
  }
}

const chartOption = reactive<EChartsOption>({ chartId: 'xxx' })

chartOption.option = getOption() // get unexpecte

[2022-06-16 10:33] #141 closed

[2022-06-16 14:39] Miofly commented on #129
hello,Has this problem been solved

[2022-06-17 04:28] ascott18 opened #142 "`fetch('/__open-in-editor')` in error overlay does not respect `base`"
### Describe the bug

Same as https://github.com/vitejs/vite/issues/8627. Requests to `__open-in-editor` need to respect `base` because the middleware for `__open-in-editor` runs after the middleware that strips off `base` and rejects requests that didn't include `base`.

### Reproduction

- Configure an app with a `base` in vite's config
- Introduce an error that causes checker's overlay to appea

[2022-06-19 14:21] Miofly commented on #139
有解决方案了吗

[2022-06-20 09:26] predragnikolic opened #143 "Svelte support?"
### Is your feature request related to a problem? Please describe.

Currently this plugin supports vanilla JS / TS, React, Vue2, Vue3, and I do not see an option to enable this for svelte projects generated with vite.

It would be good if it also supported svelte.

### Describe the solution you'd like

Add a svelte option, that probably uses [svelte-check](https://www.npmjs.com/package/svelte-chec

[2022-06-21 05:46] Ltyi opened #144 "vueTsc doesn't support --composite flag"
### Is your feature request related to a problem? Please describe.

using `pnpm create vue@latest` to create new project and choose `vitest`, the typecheck will be `vue-tsc --noEmit -p tsconfig.vitest.json --composite false`

### Describe the solution you'd like

maybe add a new options to set composite

### Describe alternatives you've considered

_No response_

### Additional context

_No respon

[2022-06-21 16:20] lmcsu commented on #127
Hey guys,
I also get `FATAL ERROR: Reached heap limit Allocation failed - JavaScript heap out of memory`
from vue-tsc by itself by running `vue-tsc --noEmit --watch`
I think it's not the checker's issue.

[2022-06-22 21:51] #90 closed

[2022-06-25 07:39] fi3ework commented on #142
@ascott18 I would like to fix this as we should keep the same strategy with `__vite_ping`. But I'm confused by the I still can open an editor even with a `base` field by clicking on the UI. But when I open the `__open-in-editor` fetch request in a new tab. It shows me that `The server is configured with a public base URL of /a/b/c/ - did you mean to visit`. Did I miss something or is there some di

[2022-06-25 08:41] fi3ework commented on #138
😅 I don't know Vite has a watch mode for build command before. Thanks for letting me know. I do like to adopt the behavior as described.

[2022-06-26 17:12] #138 closed

[2022-06-29 12:21] Artur- opened #147 "Vite 3 support"
### Is your feature request related to a problem? Please describe.

This plugin seems to work with Vite 3 but installing it is a bit of a hassle as it has
[code]

As a result `npm install` complains that
[code]

### Describe the solution you'd like

Expand the peer dependency to cover Vite 3 and pre-releases of Vite 3

### Describe alternatives you've considered

Other possibilities would be
1. Re

[2022-06-29 15:59] fi3ework commented on #147
I'll test does the plugin works fine with Vite3 out of the box tomorrow. If it works fine, I'll add ^3 support and release a patch version quickly.

[2022-06-29 18:55] tuzmusic opened #148 "Make overlay height configurable"
### Is your feature request related to a problem? Please describe.

It's a little distracting to have the screen split evenly between the overlay and the application. Also if there are a lot of errors reported, the smaller real estate means way more scrolling.

### Describe the solution you'd like

Somewhere in the plugin config it would be great to at least be able to set the height (or max heigh

[2022-06-30 03:07] 409380713 commented on #148
+1

[2022-07-01 06:18] #147 closed

[2022-07-02 16:44] DhivinX opened #149 "_b.getLineAndCharacterOfPosition is not a function"
### Describe the bug

After run with `vueTsc: true` option:

[code]

After run with `typescript: true` option everything works but without type checking for `*.vue` files.

### Reproduction

Here is repo: https://github.com/DhivinX/nx-vnts

- npm i vue-tsc@latest -D
- add configuration to vite.config.ts
- run dev server

### Expected behavior

I don't know if it's a bug or my monorepo settings are

[2022-07-02 17:06] fi3ework commented on #149
It's a bug due to the diagnosis is not reported from a specific line but a typescript project setting. I will fix this later and you can fix the project issue first as a workaround.

<img width="1051" alt="image" src="https://user-images.githubusercontent.com/12322740/177009710-703ead09-8237-4af3-a2b1-ca01da7b1029.png">

[2022-07-04 03:21] #149 closed

[2022-07-04 03:45] #142 closed

[2022-07-05 16:41] tuzmusic commented on #148
@fi3ework thanks for addressing this! Do you if GitHub will send an additional alert when this is included in a release? I just bumped to 0.4.7 but `panelStyle` isn't in there yet.

[2022-07-05 17:07] tuzmusic commented on #148
I see, thank you!

Interesting, though, that I set it to `height: 100vh` but the overlay still winds up at about 90% of the full browser height. When I go into devtools, no matter how large I set the height (or in what units) it still maxes out at this height. I can live with this, but I'm very curious as to what's happening here?

[2022-07-07 01:58] matheusliraofficial commented on #139
Not yet...

[2022-07-07 12:03] DhivinX commented on #127
I have same problem:

[code]

[2022-07-07 16:22] gkiely opened #152 "Switch from jest to vitest?"
### Is your feature request related to a problem? Please describe.

Move to using [vitest](https://vitest.dev/) for testing.

This will remove jest dependencies, speed up tests and align with vite.

### Describe the solution you'd like

Project is using vitest

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

### Validations

- [X] Read the [docs](

[2022-07-08 00:34] johnsoncodehk commented on #127
Please track https://github.com/johnsoncodehk/volar/issues/1106.

[2022-07-08 15:22] fi3ework commented on #139
I can't make a repro on stackblitz(https://stackblitz.com/edit/vitejs-vite-zlgkhg?file=package.json), can you meke one?

[2022-07-13 12:41] haron-IV opened #154 "Output Collapsed as default"
### Is your feature request related to a problem? Please describe.

While developing there are a lot of linting issues, and on every page reload/change the output of the plugin (in browser) is overlapping the app content.

### Describe the solution you'd like

It'd be perfect to be able to pass to the plugin config something like `defaultCollapsed: true`, and output in the browser will be collapse

[2022-07-13 12:47] #154 closed

[2022-07-14 01:21] ModyQyW commented on #57
Anyone working on it? I want to make a pr for this.

[2022-07-14 12:55] TurtIeSocks commented on #130
I'm _kind of_ experiencing this as well, though it's more of a bonus than a bug for me. If I run `tsc --noEmit` the errors that are being reported by the plugin are indeed picked up by TypeScript, but these errors aren't reported in the IDE (VS Code). I know Vite doesn't really care, but they're of course not reported during the `vite build` process as well, meaning I probably never would have cau

[2022-07-14 20:44] haron-IV commented on #154
@fi3ework it's not exactly by mistake, I just found a solution for that and it is listed in the documentation -> https://vite-plugin-checker.netlify.app/configuration/config.html

Perhaps it could be listed somewhere else, in gh README, or pointed somewhere in the documentation at getting started.

[2022-07-16 03:30] wwh0219 opened #156 "Memory leak occurs when using vue2.7+vuetsc"
### Describe the bug

Using vue2.7+vuetsc, memory leak will occur after saving many times

### Reproduction

This is the repo
[https://github.com/wwh0219/vite-plugin-checker-demo](https://github.com/wwh0219/vite-plugin-checker-demo)
It's a reproduction video
[https://youtu.be/rsOXuz869QU](https://youtu.be/rsOXuz869QU)

### Expected behavior

there is no memory leak

### System Info

[code]

### Ad

[2022-07-17 14:22] fi3ework commented on #156
let's track this in #127

[2022-07-17 14:22] #156 closed

[2022-07-24 21:31] johnsoncodehk commented on #127
This problem should be fixed in vue-tsc v0.38.8.

[2022-07-27 00:51] SashaPetrovska opened #159 "The plugin should follow up the Vite's `resolve.alias` declarations"
### Describe the bug

I have my mapped aliases pointing to my local libraries and they're not being resolved, I know I can map them using the tsconfig inside of `compilerOptions.paths`, but it's really annoying.

### Reproduction

Define a new alias in `vite.config.js`, and try to import it globally.

### Expected behavior

Import the modules using its respective aliases defined inside of `vite.co

[2022-07-27 03:27] fi3ework commented on #159
If you're saying that tsc checker requires a `compilerOptions.paths`, that's by design. This plugin aims to provide an original tsc diagnositc.

[2022-07-27 20:39] typhoeus-ltd commented on #159
I know right, but shouldn't it rely on the Vite's config?, AFAIK, that's what a plugin does, otherwise I'd just run my tsc manually without even installing a plugin. in the other hand, I don't see how `resolve.alias` should differ against `compilerOptions.paths` when resolving imports.

[2022-07-28 05:45] fi3ework commented on #159
Yes, you can. This plugin provides a way to consume errors on the web page. You can treat it as the https://www.npmjs.com/package/fork-ts-checker-webpack-plugin for Vite.

The `resolve.alias` will guide Vite to how the modules should be resolved with alias.  While `compilerOptions.paths` is for TypeScript to do type check. The plugin should keep behaviors with tsc.

[2022-07-30 02:01] Miofly opened #160 "开启 vue-tsc 在使用过程中，不知道什么时候会崩溃"
### Describe the bug

如图所示

<img width="706" alt="image" src="https://user-images.githubusercontent.com/42859910/181865946-a0c1f5d1-b499-41bd-ba76-2699835e735e.png">

### Reproduction

项目采用的是 pnpm ，在使用过程中，一般情况下不会出现这种情况，但是总会出现，根据报错是
`lib/checkers/vueTsc/typescript-vue-tsc/package.json` 这个文件没有了。但在开发过程中其实没做什么特殊操作，不知道为什么就崩溃了

### Expected behavior

vue-tsc

### System Info

[code]

### Additional cont

[2022-07-30 03:53] fi3ework commented on #160
有稳定的复现步骤吗

[2022-07-30 04:38] Miofly commented on #160
测试了一会，复现不出来，总是几天崩溃一次，然后重新安装包，不知道是 pnpm 的问题，还是什么问题，后续复现我再关注下

[2022-07-31 15:32] fc opened #161 "tsconfig not honored - "Property 'at' does not exist on type 'SomeType[]'""
### Describe the bug

When using this plugin I get a number of type errors that don't seem to be honoring my tsconfig.json.

I'm using TS 4.6 and when I specify es2022 in `lib` of `tsconfig.json` it generates this error which doesn't make sense since TS 4.6 is when es2022 was added to it (it also displays es2022 when I do --help of `tsc`).

[code]

And... I found the problem and solution: I was us

[2022-08-01 09:02] fyusuf-a commented on #137
A similar issue was fixed as I removed the `node_modules` directory. I am using version `0.4.9`.

[2022-08-05 00:40] Miofly commented on #160
现在有一个复现比较高的情况，比如我在一个 vite 组件里写了一个错误的代码，然后运行报错，这时候我重新执行 Pnpm install，然后在重新运行项目会发现图二中 VueTsc 中的 typescript 没了，（也不是百分百能复现）
![image](https://user-images.githubusercontent.com/42859910/182977849-8b352301-d08c-4a77-8645-51f28b00cb7f.png)

![image](https://user-images.githubusercontent.com/42859910/182977763-ac534e34-69b2-4fb7-9485-ecdce90f1a2f.png)

不知道是否与 pnpm 的包提升有关系我现在的配置如下

[code]

[2022-08-05 12:22] SutuSebastian commented on #116
@fi3ework I think what @GabriFila was trying to say is that if the warnings (most likely from ESLint) in the overlay could be hidden (not by default, but configurable) but visible in the terminal output.

[2022-08-05 13:11] GabriFila commented on #116
Yes that's it. Since the popup is blocking, to me it makes sense to have it only when it is an error. I like to see warnings only in the console like "I know it's there but I'll think about it later"

[2022-08-05 13:18] SutuSebastian commented on #116
@GabriFila I want to achieve the same exact behaviour 👍

[2022-08-08 19:50] AndreKR commented on #116
This issue is done, isn't it? I was able to disable the overlay with `overlay: false`:

[code]

[2022-08-08 19:58] SutuSebastian commented on #116
@AndreKR the main issue is that we can't control the granularity on the "disabled" state of, for example: "warnings", being enabled in terminal output but disabled in the overlay.

[2022-08-08 22:47] typhoeus-ltd commented on #159
well, another bug I just found, is it doesn't resolve the sass named exports,
![image](https://user-images.githubusercontent.com/90290584/183527205-f929fbaf-9606-48e8-bccc-09e110b5186d.png)

while Vite will build successfully. I see isn't a completely Vite integrated plugin as you told me before, but I wish it was.

[2022-08-14 05:44] #130 closed

[2022-08-16 09:09] 1446445040 commented on #160
这个问题我也遇到过，很奇怪，有时候又是奇奇怪怪的就好了

[2022-08-17 14:34] nicholastiong opened #164 "Request for switch to toggle overlay"
### Is your feature request related to a problem? Please describe.

Current type checking overlay in development mode is blocking some part of the UI (e.g. side nav).
<img width="120" alt="Screenshot 2022-08-17 at 10 33 22 PM" src="https://user-images.githubusercontent.com/63196700/185162476-219c0b9c-be54-4637-8219-19943473aea6.png">

### Describe the solution you'd like

It would be good if there

[2022-08-18 19:08] gstark opened #165 "Error "Cannot read properties of undefined (reading 'command')" when starting project"
### Describe the bug

Receiving an error when starting a project

[code]

at

[code]

### Reproduction

package.json

[code]

vite.config.ts

[code]

Run `npm start`

### Expected behavior

No error. I have not tried (yet) moving away from `vite-plugin-linter` to use the eslint built into `vite-plugin-checker` yet. This maybe an incompatibility between the two projects?

### System Info

[code]
[c

[2022-08-19 06:16] tobias-kuendig commented on #165
Change your config:

[code]

[2022-08-19 06:50] eleven-net-cn opened #166 "Error: Cannot find module '/......./node_modules/vite-plugin-checker/lib/checkers/vueTsc/typescript-vue-tsc/package.json'"
### Describe the bug

[code]

package.json does not exist in the directoryf

![Uploading image.png…]()

### Reproduction

...

### Expected behavior

...

### System Info

[code]

### Additional context

...

### Validations

- [X] Read the [docs](https://github.com/fi3ework/vite-plugin-checker#readme).
- [X] Check that there isn't already an issue that reports the same bug to avoid creating a dup

[2022-08-19 19:07] stefusilviu commented on #166
Duplicate of #129 ?

[2022-08-22 08:57] fristys commented on #129
Can confirm this is still an issue

[2022-08-24 12:07] Infi-Knight opened #168 "error overlay does not appear in browser"
### Describe the bug

I am using the plugin in a [vite-ruby](https://vite-ruby.netlify.app/) project with React.  To test it I made a typescript error which was logged to terminal but not in the browser.

### Reproduction

- Install this pluging in a vite-ruby project

### Expected behavior

An error overlay should appear when there are typescript errors.

### System Info

[code]

### Additional c

[2022-08-25 17:01] groundfloorwebb commented on #129
I can also confirm this is still an issue. I made a fresh project with create-vue to test out this plugin, enabled the vueTsc option and immediately got the same error as everyone else.

Vite config
[code]

Stack trace
[code]

[2022-08-25 17:21] groundfloorwebb commented on #129
Deleting node modules and reinstalling as described by @DrJume does seem to resolve the issue. Strange.

[2022-08-28 22:48] AndreKR opened #169 ".vue files only checked by ESlint when they are modified"
### Describe the bug

This is my `vite.config.ts`:
[code]

This is my `.eslintrc.json`:
[code]

Entrypoint and Vue app component:
[code]
[code]

Component `Foo` contains a lint error:
[code]

When I now run `vite`, it will show

Only if I modify `Foo.vue` **while Vite is already running** it will detect the lint error in the file.

### Reproduction

You can create a project with the above files yo

[2022-09-05 17:19] fi3ework commented on #152
Already using Vitest! 🚀

[2022-09-05 17:19] #152 closed

[2022-09-14 00:18] eneko89 commented on #168
Same here, I think it does not work if you use a backend integration or you have a non html entry in vite.config.ts like I do:
[code]

[2022-09-14 12:09] thielepaul commented on #137
it works for me with `0.5.1`

[2022-09-14 12:09] #137 closed

[2022-09-16 20:39] DoctorRyner opened #171 "Overlay doesn't work with single spa"
### Describe the bug

Overlay is shown at the page of microfrontend but on not in the root microfrontend application

### Reproduction

If we have single-spa app, and our app with this checker mounts when our single-spa app goes to a route :3000/someAppWithOverlay then there is no overlay. Overlay appears when you go to :yourLocalAppPort

### Expected behavior

A way to mount overlay when it's ope

[2022-09-18 15:28] DoctorRyner commented on #171
I tried to implement this but I don't know where to start, my experiments failed :(

[2022-09-22 19:27] raszi commented on #72
This is still an issue, it does exist even in the newest version.

[2022-09-23 08:34] raszi commented on #72
The issue is probably not in this plugin since disabling the TypeScript support solves the problem and running `tsc --watch` result in the same high CPU usage.

[2022-09-23 08:39] raszi commented on #72
Also following [this guide](https://blog.johnnyreilly.com/2019/05/23/typescript-and-high-cpu-usage-watch) and changing how `tsc` checks for changes solves the problem.

TLDR: Adding an env variable `TSC_WATCHFILE=UseFsEventsWithFallbackDynamicPolling` solves the problem.

[2022-09-25 14:25] DrJume commented on #129
I think it basically fails to put the package.json in the directory. A first install worked, maybe the (pnpm) upgrade sometimes deletes the package.json?

[2022-10-06 17:37] #139 closed

[2022-10-10 15:05] fi3ework commented on #171
Which micro-frontend framework you're using, such as Qiankun? Could you provide a mini re-production?

[2022-10-10 15:43] fi3ework commented on #169
I successfully re-produced the issue. The lint command should be write like

[code]

instead of

[code]

I ran `yarn eslint src` and nothing happened, but `yarn eslint src/**/*.vue` show the error. So the plugin should not show the error cause the lint command also did not work with ESLint itself, which means it should report an issue after editing, either.
https://github.com/fi3ework/vite-plugin-

[2022-10-10 15:43] #169 closed

[2022-10-10 15:56] fi3ework commented on #129
Does this issue still exists after 0.5.0? Although I'm not very clearly what cause the issue, but I added a try catch statement to prevent this.

https://github.com/fi3ework/vite-plugin-checker/blob/140f96c3d24f70e118e8397fc23aa7e41e01ee91/packages/vite-plugin-checker/src/checkers/vueTsc/prepareVueTsc.ts#L53-L66

[2022-10-10 16:03] fi3ework commented on #165
I think there's something for the co-existing for the two plugin? Could you provide a minimal re-production or move away the vite-plugin-linter?

[2022-10-10 16:05] fi3ework commented on #164
You can add a custom style to the badge, see documentation https://vite-plugin-checker.netlify.app/configuration/config.html. Does it satisfy?

[2022-10-10 16:07] fi3ework commented on #160
tracks in #129 . Should be fixed in 0.5.0. Have a try.

[2022-10-10 16:07] #160 closed

[2022-10-10 16:47] fi3ework commented on #129
I think it should be fixed in 0.5.0 due to https://github.com/fi3ework/vite-plugin-checker/issues/137

[2022-10-10 22:31] DoctorRyner commented on #171
Just single-spa. Ok, I'll do a reproduction in spare time

[2022-10-11 09:55] fi3ework commented on #72
@raszi Nice catch. Maybe it should be added to the worker env by default for the typescript checker.

[2022-10-11 10:56] sirganya opened #175 "Typescript errors in build using Yarn PnP"
### Describe the bug

When using the plugin with typescript and Yarn PnP tsc can't resolve node modules. It can resolve the modules in development mode.

### Reproduction

Use Yarn@canary with PnP mode.

.yarnrc.yml

[code]

### Expected behavior

Build process should complete without TS errors.

### System Info

[code]

### Additional context

_No response_

### Validations

- [X] Read the [docs]

[2022-10-11 13:07] fi3ework commented on #175
I haven't used Yarn for a long time and am not familiar with PnP, either. Could you provide the error message?

[2022-10-11 13:24] sirganya commented on #175
`error TS2307: Cannot find module 'react' or its corresponding type declarations`

would be one example.

Pnp uses a loader file that has to be included by node to enable the correct module resolutions.

`require('./.pnp.cjs').setup();`

is the example from the docs.

In dev mode Vite resolves the modules but not in build.
It would be nice to have the build  typechecked.

[2022-10-14 08:32] louia opened #177 "Add vue warning in the checker"
### Is your feature request related to a problem? Please describe.

Currently, I cannot show vue warnings in the panel of this plugin. My vue warning only appear in the dev tools console of my browser.

### Describe the solution you'd like

Add vue warnings in consideration of this plugin

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

### Valida

[2022-10-14 12:19] kije opened #178 "Vue2 + Typescript (vls): Customizing vls options causes wrong invocation of vti in build mode and resulting in NO TYPECHECKING of builds"
### Describe the bug

When using vite-plugin-checker with a Vue2 + TypeScript setup (so using the `vls` option), and customizing the vls option, the invocation of `vti diagnostics` in build mode is wrong, as the JSON.stringify-ed version of the option are just passed to `vti diagnostics` as an argument, but `vti diagnostics` does not support this style of option passing, and just appends the strin

[2022-10-15 13:15] alexandercerutti opened #179 "Plugins checks vite.config.ts and prints out-of-scope errors"
### Describe the bug

Hi, thanks for the work you did on this package!
It seems that having a `vite.config.ts` file as a config file makes getting it checked too.

Having vite imports inside the config, make a log of errors being printed.

<details>
  <summary>Open for error logs</summary>

     ERROR(TypeScript)  Cannot find module 'eslint' or its corresponding type declarations.
     FILE  /User

[2022-10-16 20:18] z1m1n commented on #129
Still getting this error in 0.5.1

[2022-10-18 07:41] ilgiznurgaliev commented on #144
any updates on this?

[2022-10-25 16:51] johnnyshankman opened #180 "Doesn't seem to work with `--fix`"
### Describe the bug

When passing in `--fix` my linter always passes and never fixes anything. It won't report any issues *and* won't fix them it seems? It could be fooling itself into thinking it fixed them but then didn't actually write the changes back.

### Reproduction

[code]

### Expected behavior

Should write the changes back to the files.

### System Info

[code]

### Additional context

[2022-10-27 23:25] shayded-exe opened #181 "[TypeScript] Error when using tsconfigPath with buildMode: true"
### Describe the bug

When specifying both a `tsconfigPath` and `buildMode: true`, the TS checker specifies both the `-b` and `-p` flags to `tsc` which is an error.

### Reproduction

Specify both `tsconfigPath` and `buildMode: true`

### Expected behavior

tsc runs without error

### System Info

[code]
[code]

[2022-11-02 05:16] amstiel commented on #57
I see that PR was merged. How can I try stylelint support in my project? I don't see new version in npm.

[2022-11-02 08:21] olemarius opened #182 "Exclude folders option"
### Is your feature request related to a problem? Please describe.

I've been trying to exclude the code generated by swagger-codegen, which generates a typescript-axios api from a .net core webapi, but it seems vite-plugin-checker includes anything that's referenced, regardless of exclude rules in tsconfig.

A way to exclude a folder, or at least exclude node_modules folder.

In vite.config.ts:

[2022-11-03 01:33] ModyQyW commented on #57
It seems that the stylelint part requires more testing? The tests are mainly done by @fi3ework . Let's wait patiently. ❤️

If you want to try stylelint support, maybe you can clone, build and link to your project.

[2022-11-03 10:30] Miofly opened #183 "How to use with jiti to make it compatible with vscode-uri"
### Describe the bug

0.4.9 run corret, but 0.5 more incorrect
![image](https://user-images.githubusercontent.com/42859910/199698309-f03e82c8-9643-4f80-80d7-b5c53dca8861.png)

### Reproduction

no

### Expected behavior

start error

### System Info

[code]

### Additional context

_No response_

### Validations

- [X] Read the [docs](https://github.com/fi3ework/vite-plugin-checker#readme).
- [X]

[2022-11-03 16:42] neolitec opened #184 "Vite 3 issue"
### Describe the bug

When using vite 3, an error occurs when starting the server:

[code]

### Reproduction

My vite config looks like:

[code]

### Expected behavior

I expect this error to not happen.

### System Info

[code]

### Additional context

_No response_

### Validations

- [X] Read the [docs](https://github.com/fi3ework/vite-plugin-checker#readme).
- [X] Check that there isn't alread

[2022-11-08 16:55] timsofteng opened #185 "Loading screen when tsc working"
### Is your feature request related to a problem? Please describe.

Many people used to see some "Loading..." sign in terminal when tsc is working. With Vite we cannot understand when tsc is working.

### Describe the solution you'd like

Implement some method to check tsc loading.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

### Validations

[2022-11-16 23:11] sjdemartini commented on #168
I had this same issue when using [`django-vite`](https://github.com/MrBin99/django-vite), which is a backend integration that has a non-HTML entry, but I figured out a workaround.

Looking at the HTML source when using a default HTML entry, the plugin injects the following script at the top of `<head>`:

[code]

So I was able to manually add that same script to my base Django HTML template at the

[2022-11-19 00:31] templeman15 commented on #168
This regression started happening on version 0.4.0. I downgraded to version 0.3.4 and the overlay displays.